
.pixel{
   
    border: 0.5px solid lightcyan;
    border-radius: 4px;
}
.header{
    display: flex;
    justify-content: center;
    font-family: lobster;
    font-size: 1.2rem;
  
}

.controls{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.controls-item{
    display: flex;
    margin: 0 20px;
    outline: none;
}
#size-info{
    min-width: 70px;
    font-size: 1.5rem;
}
button{
    padding: 15px;
    color: #fff;
    background: #2b7de9;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
.pixel:hover{
    background-color: teal;
}
.container{
    display: grid;
    justify-content: center;
    margin: 50px auto;
    width: 60vh;
    height: 60vh;
    border: 0.2px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}